#myjellyfish {
   width: 600px;
   margin-left: 800px;
   top: 50px;
   position: relative
}
#myfishies {
   width: 200px;
   margin-top: -300px;
   margin-left: 500px;
   position: relative
}
body {
   background-image: url(/images/water.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   font-family: sans-serif;
   color: #002060; /* darker text for contrast */
}

h1 {
   background-color: powderblue;
   padding: 40px;
   width: 400px;
   height: 5px;
   position: absolute;
   top: 100px;
}

h2 {
   color: rgb(0, 6, 128);
   background-color: rgb(2, 152, 172);
   padding: 10px;
   width: 400px;
   position: relative;
   margin-top: -200px;
}

#output {
   margin: 20px 0;
   font-size: 1.1rem;
}

#magic-button {
   display: inline-block;
   padding: 10px 16px;
   font-size: 1rem;
   margin-top: 12px;
}

#magic-button2 {
   display: inline-block;
   padding: 10px 16px;
   font-size: 1rem;
   margin-top: 12px;
}

#megaSentence {
   margin-top: 20px;
   font-size: 1.2rem;
   color: white;
   font-weight: bold;
   margin-left: 1000px;
}