#myjellyfish {
    width: 600px;
    margin-left: 800px;
    top: 50px;
    position: relative
}

#myfishies {
    width: 200px;
    margin-top: -300px;
    margin-left: 500px;
    position: relative
}

body {
    background-image: url(../images/water.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: #002060;
    /* darker text for contrast */
}

h1 {
    background-color: powderblue;
    padding: 40px;
    width: 400px;
    height: 5px;
    position: absolute;
    top: 100px;
}

h2 {
    color: rgb(6, 13, 153);
    background-color: rgb(2, 152, 172);
    padding: 10px;
    width: 400px;
    position: relative;
    margin-top: -200px;
}

body {
    transition: background-color 0.5s ease;
}
#megaSentence {
    color: white;
}
#myjellyfish {
    position: absolute;
    z-index: 1;   /* low number */
}

button {
    position: relative;
    z-index: 999; /* on top */
}