#myjellyfish {
   width: 600px;
   margin-left: 800px;
   top: 50px;
   position: relative
}
#myfishies {
   width: 200px;
   margin-top: -300px;
   margin-left: 500px;
   position: relative
}
body {

   h2 {
      color: rgb(0, 6, 128);
   }

   h1 {
      background-color: powderblue;
      padding: 40px;
      width: 400px;
      height: 5px
   }
}
h1 {
   position: absolute;
   top: 100px;
}
h2 {
   background-color: rgb(2, 152, 172);
   padding: 10px;
   width: 400px;
   position: relative;
   margin-top: -200px
}
body {
   background-image: url(/images/water.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}