#myjellyfish {
    position: absolute;
    top: 100px;
    left: 600px;
    z-index: 1;
}
#myfishies {
    width: 200px;
    position: absolute;
    top: 100px;   /* adjust as needed */
    left: 400px;  /* adjust as needed */
    z-index: 2;   /* above jellyfish if needed */
}

body {
    background-image: url(../images/water.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}

h1 {
    background-color: powderblue;
    padding: 40px;
    width: 400px;
    height: 5px;
    position: absolute;
    top: 250px;
}

h2 {
    color: rgb(6, 13, 153);
    background-color: rgb(2, 152, 172);
    padding: 10px;
    width: 400px;
    position: relative;
    margin-top: 20px;  /* normal spacing */
}

body {
    transition: background-color 0.5s ease;
}
#megaSentence {
    color: white;
}


button {
    position: relative;
    z-index: 999;    /* keeps buttons clickable */
}
